body {
  background-image: url("images/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}

.header {
  text-align: center;
  font-family: "Orbitron";
  font-size: 65px;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 50px;
  margin-bottom: 8px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 57, 201), rgb(0, 57, 201), rgb(128, 0, 128), rgb(128, 0, 128), rgba(0, 0, 0, 0));
}

.sub-header {
  color: white;
  text-align: center;
  font-family: "Orbitron";
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: 500;
}

.caption{
  text-align: center;
  font-family: "Orbitron";
  color: white;
  font-size: 30px;
  margin-top: 0px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 500;
}

.para{
  font-family: 'Audiowide';
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.imp-part-of-para{
  font-weight: 600;
}

.sub-img{
  width: 475px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 10px;
  border: 3px solid white;
}

.divider{
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, white, rgba(0, 0, 0, 0));
  margin-top: 35px;
  margin-bottom: 10px;
  border: none;
}

.wics-para{
  color: rgb(0, 29, 147);
  box-shadow: 6px 6px 8px rgb(0, 191, 255);
  margin-left: 7%;
}

.wics-img{
  box-shadow: 6px 6px 8px rgb(0, 191, 255);
  margin-left: 1.5%;
}

.wwni-para{
  color: rgb(0, 29, 147);
  box-shadow: 6px 6px 8px rgb(0, 110, 255);
  margin-left: 1.5%;
}

.wwni-img{
  box-shadow: 6px 6px 8px rgb(0, 110, 255);
  margin-left: 7%;
}

.tca-para{
  color: rgb(0, 29, 147);
  box-shadow: 6px 6px 8px rgb(150, 0, 255);
  margin-left: 7%;
}

.tca-img{
  box-shadow: 6px 6px 8px rgb(150, 0, 255);
  margin-left: 1.5%;
}

.tca-span{
  color: rgb(150, 0, 255);
}

.wycd-para{
  color: rgb(0, 29, 147);
  box-shadow: 6px 6px 8px rgb(255, 0, 255);
  margin-left: 1.5%;
}

.wycd-img{
  box-shadow: 6px 6px 8px rgb(255, 0, 255);
  margin-left: 7%;
}

.conclusion-header{
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  font-size: 50px;
}

.conclusion-para{
  color: rgb(0, 29, 147);
  box-shadow: 6px 6px 8px rgb(0, 0, 0);
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 95.5%;
}

.thank-you-container{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 57, 201), rgb(0, 57, 201), rgb(128, 0, 128), rgb(128, 0, 128), rgba(0, 0, 0, 0));
  padding: 1px;
}

.thank-you-header{
  font-size: 75px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}